@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.paper {
  padding: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.link-no-color {
  color: transparent;
}

header {
  position: fixed;
  height: 80px;
  width: 100%;
  padding: 20px 30px;
  top: 0;
  z-index: 99;
}

main {
  width: 100%;
  min-height: calc(100vh - 80px);
  margin-top: 80px;
  padding: 30px;
}

.sidenav {
  z-index: 100;
  top: 0;
  left: 0;
  position: fixed;
  width: 250px;
  height: calc(100% - 20px);
  margin: 10px 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

.header-container {
  margin-top: 10px;
  display: flex;
}

.main-photo {
  width: 100%;
  object-fit: cover;
}


@media screen and (min-width: 900px) {

  .main-photo {
    margin-right: 10px;
  }

  .header-container {
    margin-left: 280px;
    margin-top: 10px;
    display: flex;
  }

  main {
    width: calc(100% - 290px);
    margin-left: auto;
  }
}

.navlink-container {
  width: 100%;
  padding: 7px 20px !important;
  margin: 5px 0 !important;
  border-radius: 12px !important;
  justify-content: start !important;
}

.project-desc-container  ul {
  margin-left: 20px;
}

.project-desc-container  a {
  text-decoration: underline;
}